/* General Style Start */

@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

body {
font-family : 'Kdam Thmor Pro', sans-serif;
overflow: hidden;
}

:root {
    --primary-color: #ffffff;
    --secondary-color: #000000;
    --third-color: #DAAD86;
    --fourth-color: #8D8741;
    --fifth-color: #FBEEC1;
    --mp-blue: #659DBD;
    --sixth-color: #BC986A;
    --backgroun-gray: rgb(184, 180, 180);
}

* {
    margin: 0;
    padding: 0;
}

.btn {
    background-color: var(--mp-blue);
}

.songbtn-mobile {
    display: none;
}

.songbtn-mobile button:focus {
    background-color:var(--mp-blue);
}

.songbtn-mobile button:hover {
    background-color:var(--mp-blue);
    transform: scale(1.05);
}
/* General Style End */ 

/* Header Style Start */ 

header {
    text-align: center;
    height: 160px;
    border-bottom: solid 3px var(--mp-blue);
    background-color: var(--fifth-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.main-title {
    display: flex;
    margin-right: 15px;
}

header h1 {
    margin: 0px;
    color: var(--mp-blue);
    font-weight: 500;
}

.fa-book {
    margin: 10px 0px 0px 20px;
    font-size: 50px;
    color: var(--mp-blue);
    font-weight: 600;
}

/* Header Style End */ 

/* Options Style Start */

.word-input input, .options-input select {
    text-align: center;
    border: none;
    border: 3px solid var(--mp-blue);
    width: 80%;
    height: 50px;
    background-color: var(--primary-color);
    border-radius: 15px;
    margin: 5px 0px;
}

.word-input {
    margin-top: 20px;
    display: flex;
    justify-content: end;
}

.options-input {
    display: flex;
    justify-content: end;
}

.search-btn {
    display: flex;
    justify-content: end;
}

.search-btn button {
    width: 40%;
    border-radius: 15px;
}

.btn:focus {
    background-color:var(--mp-blue);
}

.search-btn button:hover {
    transform: scale(1.05);
    background-color: var(--mp-blue);
}

.search-btn button::after {
    background-color: var(--mp-blue);
}

/* Options Style End */

/* Results Style Start */

.results-wrap {
    display: flex; 
    justify-content: center;
    position: relative;
}

.results-box {
    width: 80%; 
    position: absolute;  
    top: -210px;
    
}

.results-body {
    height: 54vh;
    border: solid 5px var(--mp-blue);
    overflow: auto;
}

.results-title {
    text-align: center;
    border-left: solid 5px var(--mp-blue);
    border-right: solid 5px var(--mp-blue);
    border-top: solid 5px var(--mp-blue);
}

.results-title h3 {
    margin: 0px;
    padding: 1.9466666667rem 0 1.168rem 0;
}

.results-body h4 {
    font-size: 28px;
    margin: 5px 0px 0px 5px ;
}

.results-body ul li {
    font-size: 20px;
    margin: 10px 0px 0px 10px;
}

.Rhymes-box {
    margin: 0px 0px 10px 0px;
}

.Definition-box {
    margin: 120px 0px 0px 0px;
}

.rhyme-list li {
    display: inline;
}

/* Results Style End */

/* TextArea Style Start */

.text-section-wrapper {
    position: relative;
    display: flex;
}

.text-box-div {
    position: relative;
    top: -131px;
    width: 93%;
    
}

.textarea-div, .textarea-div textarea {
    width: 100%;
    height: 100%;
}

.textarea-div textarea {
    border: 5px solid var(--mp-blue);
    text-align: center;
    height: 54vh;
}

.title-and-buttons {
    position: absolute;
    top: -85px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    height: 70px;
}

.text-buttons {
    display: flex;
}

.textarea-btn {
    font-size: 30px;
    margin: 0px 11px;
}

.textarea-btn .fa-solid:hover {
    transform: scale(1.05);
    color: var(--mp-blue);
}

#text-area {
    font-size: 21px;
}


.alert {
    background-color:darkseagreen;
    border: solid 2px rgb(89, 141, 89);
    padding: 20px 40px;
    min-width: 300px;
    position: absolute;
    right: 0px;
    top:165px;
    overflow: hidden;
    border-radius: 4px;
    border-left: 8px solid rgb(89, 141, 89);
}

.alert.show {
    animation: show_slide 1s ease forwards;
}
@keyframes show_slide {
    0%{
        transform: translateX(100%);
    }
    40%{
        transform: translateX(-10%);
    }
    80%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-10px);
    }
}
.alert.hide {
    display: none;
}

.alert .msg {
    padding: 0px 20px;
    font-size: 18px;
    color: var(--primary-color);
}

.alert .close-btn {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    background: rgb(89, 141, 89);
    padding: 17px 18px;
}

.alert .close-btn {
    color: var(--primary-color);
    font-size: 22px;
    line-height: 40px;
    cursor: pointer;
}

.close-btn:hover {
    background-color: darkseagreen;
}

@media (max-width:1088px){
    .alert {
        padding: 10px 30px;
        min-width: 250px;
    }
}
@media (max-width:600px){
    .alert {
        display: none;
    }
}
/* TextArea Style End */

/* Footer Style Start */

footer {
    position:absolute;
    bottom:0;
    width: 100%;
    height:100px;  
    background:var(--fifth-color);
    border-top: solid 3px var(--mp-blue);
    display: flex;
    justify-content: center;
    align-items: center;
 }

 footer h3 {
    margin: 0;
    padding: 0;
    font-weight: 200;
    color: var(--mp-blue);
    font-size: 30px;
 }

/* Footer Style End */

@media (max-width: 1200px) {
    .results-box {
        margin-top: 2.5px;
    }
}

@media (max-width: 992px) {
    .results-box {
        margin-top: 14.5px;
    }
    .text-area-title h3 {
        font-size: 33px;
    }
    .textarea-btn .fa-solid {
        font-size: 23px;
    }
    .title-and-buttons {
        margin-top: 10px;
    }
    .results-title h3 {
        font-size: 33px;
    }
    .text-area-title h3 span {
        display: none;
    }
    .results-body h4 {
        font-size: 25px;
    }
    
    .results-body ul li {
        font-size: 17px;
    }
}

@media (max-width: 627px) {
    .results-body h4 {
        font-size: 23px;
    }
    .results-body ul li {
        font-size: 15px;
    }
}

@media (max-width: 600px ) {
    .results-body {
        height: 60vh;
    }
    header h1, .fa-book {
        font-size: 40px;
    }
    header {
        height: 120px;
    }
    footer h3 {
        font-size: 25px;
    }
    footer {
        height: 70px;
    }
    .fa-book {
        margin-top: 2px;
    }
    .results-wrap {
        display: flex;
        justify-content: center;
        position: relative;
    }
    .results-box {
        position: absolute;
        top: -283px;
        width: 90%;
    }
    .results-title h3{
        font-size: 30px;
    }
    .word-input {
        justify-content: center;
    }

    .options-input {
        justify-content: center;
    }
    .search-btn {
        justify-content: center;
    }
    .search-btn .btn-search {
        width: 70%;
    }
    .col.s7.push-s5.m5.push-m7.text-section-wrapper {
        display: none;
    }
    .songbtn-mobile {
        display: flex;
        justify-content: center;
    }
    .songbtn-mobile button {
        background-color: var(--mp-blue);
        border: none;
        color: var(--primary-color);
        border-radius: 20px;
        width: 100%;
        height: 40px;
        margin-top: 20px;
    }
    .songbtn-mobile button::after {
        background-color: var(--mp-blue);
    }
    .songbtn-mobile button:focus {
        background-color:var(--mp-blue);
    }
    .text-box-div {
        top: 100px;
        width: 95%;
        display: flex;
        margin-left: 10px;
    }
    .text-area-title h3 {
        display: flex;
    }
    .text-area-title h3 span {
        display: flex;
        margin-right: 10px;
    }
    .textarea-btn {
        margin: 0px 7px 0px 7px;
    }
    .textarea-btn .fa-solid {
        font-size: 27px;
    }
    .textarea-div textarea {
        height: 60vh;
    }
    .options-input {
        font-size: 18px;
    }
    .results-body h4 {
        font-size: 28px;
    }
    .results-body ul li {
        font-size: 19px;
    }
}

@media (max-width: 600px) and (max-height: 800px){
    .results-body {
        height: 55vh;
    }
    .textarea-div textarea {
        height: 55vh;
    }
}

@media (max-width: 600px) and (max-height: 680px){
    .results-body {
        height: 52vh;
    }
    .textarea-div textarea {
        height: 52vh;
    }
}
    /*
    .col.s7.push-s5.m5.push-m7.text-section-wrapper {
        position: absolute;
        bottom: 10px;   

     .text-box-div {
        top: -86px;
        width: 95%;
    }
    .textarea-div textarea {
        height: 65vh;
    }
    .textarea-btn {
        margin: 0px 5px;
    }
    */
